<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<% tahta.forEach(data => { %>
    <div class="stock-table">
        <table>
          <tr>
            <th>Adet</th>
            <th>Fiyat</th>
          </tr>
          <% data.bids.forEach(bids => { %>
            <tr>
                <td><%=bids[0]%> </td>
                <td><%=bids[0]*bids[1]%></td>
              </tr>
          <% }) %>
         
        </table>
        <table>
          <tr>
            <br>
          </tr>

          <% data.asks.forEach(asks => { %>
            <tr>
                <td><%=asks[0]%> </td>
                <td><%=asks[0]*asks[1]%></td>
              </tr>
          <% }) %>
        </table>
      </div>
     
<% }) %>




      <style>
        .stock-table {
  width:15%;
  float: left;
  margin-right: 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}
      </style>
</body>
</html>